{% block stylesheets %}
	<link href="{{asset("css/button.css")}}" rel="stylesheet">
{% endblock %}
<a type="button" class="btn button-reservation" href="{{path('app_reservation')}}">Réserver une table</a>
