{% block stylesheets %}
	<link href="{{asset("css/description-chef.css")}}" rel="stylesheet">
{% endblock %}
<div class="description-chef ">

	<div class="border border-dark p-3 mt-3 ms-3 mb-3 me-3">
		<div class="row">
			<h2>Chef Arnaud Michant</h2>
		</div>
		<div class="row">
			<div class="col-md-10 p-3 d-flex justify-content-center">
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sit officia maxime ipsum soluta repellendus dicta cum ullam doloremque temporibus reiciendis nobis tempore assumenda possimus, aliquid perferendis quam? Temporibus, laborum.
				</p>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a href="{{path('app_plats')}}" class="see-plats">Voir la carte</a>
		</div>
	</div>
</div>
