{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
	{% include('./button/button.html.twig') %}
	<div class="row">
		{% include('./home/menus.html.twig') %}
		{% include('./home/description.html.twig') %}

	</div>
	{{ include('./hours/hours.html.twig') }}
{% endblock %}
