
:root{
    --descrption-bg-color: #FFE2D1;
    --button-bg-color : #FFE0FC;
}

.description-chef {
    background-color: var(--descrption-bg-color);
    height: max-content;
    padding: 20px;
}
.see-plats {
    display: flex;
    background-color: var(--button-bg-color);
    width: 150px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .description-chef {
      height: 769px;
    }
  }