.pictures-mobile {
   
}

.pictures-mobile > img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 752px) {
    .pictures-mobile > img {
        width: 100%;
        height: 100%;
    }
}