{% extends "base.html.twig" %}

{% block main %}


	<div class="container">
		<h2 class="d-flex justify-content-center mt-5 mb-5">Politique de confidentialité</h2>

		<div class="col-12">
			<h3 class="mt-4">ARTICLE 1 : PRÉAMBULE</h3>
			<p>La présente politique de confidentialité a pour but d’informer les utilisateurs du site :
			</p>
			<ul>
				<li>
					<p>Sur la manière dont sont collectées leurs données personnelles. Sont considérées comme des données personnelles, toute information permettant d’identifier un utilisateur. A ce titre, il peut s’agir : de ses noms et prénoms, de son âge, de son adresse postale ou email, de sa localisation ou encore de son adresse IP (liste non-exhaustive)</p>
				</li>
				<li>
					<p>Sur les droits dont ils disposent concernant ces données</p>
				</li>
				<li>
					<p>Sur la personne responsable du traitement des données à caractère personnel collectées et traitées</p>
				</li>
				<li>
					<p>Sur les destinataires de ces données personnelles</p>
				</li>
				<li>
					<p>Sur la politique du site en matière de cookies</p>
				</li>
			</ul>
			<p>Cette politique complète les mentions légales et les Conditions Générales d’Utilisation consultables par les utilisateurs à l’adresse suivante :
				<a href="{{path('app_mentions')}}">Ici</a>
			</p>
		</div>

		<div class="col-12">
			<h3 class="mt-4">ARTICLE 2 : PRINCIPES RELATIFS À LA COLLECTE ET AU TRAITEMENT DES DONNÉES PERSONNELLES
			</h3>
			<p>Conformément à l’article 5 du Règlement européen 2016/679, les données à caractère personnel sont :
			</p>
			<ul>
				<li>
					<p>Traitées de manière licite, loyale et transparente au regard de la personne concernée
					</p>
				</li>
				<li>
					<p>Collectées pour des finalités déterminées (cf. Article 3.1 des présentes), explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités
					</p>
				</li>
				<li>
					<p>Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées</p>
				</li>
				<li>
					<p>Exactes et, si nécessaire, tenues à jour. Toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder
					</p>
				</li>
				<li>
					<p>Conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées</p>
				</li>
				<li>
					<p>Traitées de façon à garantir une sécurité appropriée des données collectées, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées</p>
				</li>
			</ul>

			<p>Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :
			</p>
			<ul>
				<li>
					<p>La personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques
					</p>
				</li>
				<li>
					<p>Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci
					</p>
				</li>
				<li>
					<p>Le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis</p>
				</li>
				<li>
					<p>
						Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique</p>
				</li>
				<li>
					<p>
						Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement</p>
				</li>
				<li>
					<p>rLe traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant</p>
				</li>
			</ul>
			<p>Cette politique complète les mentions légales et les Conditions Générales d’Utilisation consultables par les utilisateurs à l’adresse suivante :
				<a href="{{path('app_home')}}">Ici</a>
			</p>
		</div>

		<div class="col-12">
			<h3 class="mt-4">ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE
			</h3>
			<p>Les données personnelles collectées dans le cadre de notre activité sont les suivantes : adresse mail, nom, prénom, allergies.
			</p>

			<p>La collecte et le traitement de ces données répond à la (aux) finalité(s) suivante(s) : prise de réservation.</p>
			<h4>Hébergement des données</h4>
			<p>Le site Arnaud-Michant est hébergé par Heroku app.</p>
		</div>

		<div class="col-12">
			<h3 class="mt-4">ARTICLE 4 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ
			</h3>
			<p>L’éditeur du site Arnaud-Michant se réserve le droit de pouvoir modifier la présente Politique à tout moment afin d’assurer aux utilisateurs du site sa conformité avec le droit en vigueur.
			</p>
			<p>Les éventuelles modifications ne sauraient avoir d’incidence sur les achats antérieurement effectués sur le site, lesquels restent soumis à la Politique en vigueur au moment de l’achat et telle qu’acceptée par l’utilisateur lors de la validation de l’achat.</p>

			<p>L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos services, sans qu’il soit nécessaire de l’en prévenir formellement</p>
			<p>La présente politique, éditée le 20/02/2023, a été mise à jour le 21/02/2023.</p>
		</div>

	</div>

{% endblock %}
